:root {
  --color-bg: hsl(120deg, 5%, 95%);
  --color-fg: hsl(120deg, 5%, 10%);
}

.style-toggle {
  .slider {
    transform: translateX(calc(-0.5 * var(--slider-movement)));
  }
  .fa-moon {
    color: var(--color-bg);
  }
  .fa-sun {
    color: var(--color-fg);
  }
}
